{% extends 'centro.html' %}
{% block mauricio%}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>paguinaslibres - nosotros Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/static/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico">

    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/static/assets/css/fontawesome.min.css">
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>
    <!-- Start Top Nav -->
  
    <!-- Close Top Nav -->

  

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <section class="bg-white py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-dark"> <!-- Cambia el color del texto a oscuro para mayor legibilidad -->
                    <h1>Sobre nosotros</h1>
                    <p>
                        Descubre la esencia de nuestra tienda de libros a través de nuestra sección "Acerca de nosotros", donde compartimos una historia de crecimiento desde nuestros modestos comienzos hasta convertirnos en un espacio vibrante de cultura y aprendizaje. Con valores arraigados en la honestidad y la excelencia, nuestra tienda es más que un lugar para comprar libros; es un refugio para mentes curiosas y un faro de inspiración en el vasto océano de la literatura. Te invitamos a explorar nuestro mundo de historias y experiencias, y a unirte a nuestra comunidad de lectores apasionados. ¡Bienvenido a nuestra tienda de libros, donde cada página cuenta una historia única!
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/static/assets/img/about-hero.svg" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
    <!-- Close Banner -->

    <!-- Start Section -->
    <section class="container py-5">
        <div class="row text-center pt-5 pb-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Services</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <section class="container py-5">
            <div class="row text-center pt-5 pb-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Services</h1>
                    <p>
                        Lasdasd
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fa fa-truck fa-lg"></i></div>
                        <h2 class="h5 mt-4 text-center text-danger">Delivery Services</h2>
                    </div>
                </div>
            
                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fas fa-exchange-alt"></i></div>
                        <h2 class="h5 mt-4 text-center text-danger">Shipping & Return</h2>
                    </div>
                </div>
            
                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fa fa-percent"></i></div>
                        <h2 class="h5 mt-4 text-center text-danger">Promotion</h2>
                    </div>
                </div>
            
                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fa fa-user"></i></div>
                        <h2 class="h5 mt-4 text-center text-danger">24 Hours Service</h2>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!-- End Section -->

    <!-- Start Brands -->

    <!--End Brands-->


    <!-- Start Footer -->

    <!-- End Footer -->

    <!-- Start Script -->
    <script src="/static/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/static/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/templatemo.js"></script>
    <script src="/static/assets/js/custom.js"></script>
    <!-- End Script -->
</body>
{%endblock mauricio%}
</html>